<h1>Listing tv_shows</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Network</th>
    <th>Premiered</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tv_shows.each do |tv_show| %>
  <tr>
    <td><%= tv_show.name %></td>
    <td><%= tv_show.network %></td>
    <td><%= tv_show.premiered %></td>
    <td><%= tv_show.description %></td>
    <td><%= link_to 'Show', tv_show %></td>
    <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
    <td><%= link_to 'Destroy', tv_show, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tv show', new_tv_show_path %>
