<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tv_show.name %>
</p>

<p>
  <b>Network:</b>
  <%= @tv_show.network %>
</p>

<p>
  <b>Premiered:</b>
  <%= @tv_show.premiered %>
</p>

<p>
  <b>Description:</b>
  <%= @tv_show.description %>
</p>


<%= link_to 'Edit', edit_tv_show_path(@tv_show) %> |
<%= link_to 'Back', tv_shows_path %>
